.navbar {
  position: relative;
  height: 65px;
  background-color: #000;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  color: #fff;

}

.navbar_logo a {
  color: #fff;
  text-decoration: none;
}

.navbar_search input {
  padding: 0.5em;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 1em;
}

.navbar_button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 0 1em;
}

.swiper {
  width: 100%; /* 컨테이너 너비를 부모 요소 기준으로 설정 */
  overflow: hidden;
}
.swiper-wrapper {
  display: flex; /* 플렉스박스 사용 */
}

.swiper-slide {
  flex-shrink: 0; /* 슬라이드 크기를 줄이지 않음 */
  width: auto; /* 기본 너비로 설정 */
}