.navbar {
  position: relative;
  height: 65px;
  background-color: #000;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  color: #fff;

}

.navbar_logo a {
  color: #fff;
  text-decoration: none;
}

.navbar_search input {
  padding: 0.5em;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 1em;
}

.navbar_button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 0 1em;
}

.swiper {
  width: 100%; /* 컨테이너 너비를 부모 요소 기준으로 설정 */
  overflow: hidden;
}
.swiper-wrapper {
  display: flex; /* 플렉스박스 사용 */
}

.swiper-slide {
  flex-shrink: 0; /* 슬라이드 크기를 줄이지 않음 */
  width: auto; /* 기본 너비로 설정 */
}

.navbar_user {
  position: relative;
}

.user_thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown_menu {
  position: absolute;
  width: 100px;
  top: 45px;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
  padding: 5px 0;
}

.dropdown_item {
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown_item:hover {
  background-color: #f0f0f0;
}

.navbar_buttons {
  display: flex;
  gap: 0;
}